<h2><%= t("admin.valuators.search.title") %></h2>

<%= render "admin/shared/user_search", url: search_admin_valuators_path %>

<div id="valuators">
  <% if @users.any? %>
    <%= render "valuators", valuators: @users %>
  <% else %>
    <div class="callout alert margin">
      <%= t("admin.shared.no_search_results") %>
    </div>
  <% end %>
</div>
