<% provide :title do %><%= @investment.title %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: budget_investment_url %>
<% end %>

<%= render "/budgets/investments/investment_show",
  investment: @investment,
  investment_ids: @investment_ids,
  investment_votes: @investment_votes,
  ballot: @ballot,
  budget: @budget %>


</div>
