<%= back_link_to admin_district_district_zones_path(@district) %>


<div class="small-12 column">
  <h2>Dodaj naselje</h2>
</div>

<%= form_for @district_zone, url: admin_district_district_zones_path(@district, @admin_district_zone) do |f| %>
  <%= render "form", f: f %>
<% end %>
