  <%= render "shared/errors", resource: @budget_image %>

   <div class="row">
    <div class="small-12 column">
        <%# <%= image_tag budget_image.image.attachment.url(:large),
                class: image_class(budget_image.image),
                alt: budget_image.image.title.unicode_normalize,
                title: budget_image.image.title.unicode_normalize %>
    </div>
    <div class="images small-12 column">
        <%= render "images/nested_image", imageable: @budget_image, f: f %>
      </div>
  </div>

  <div class="row">
    <div class="clear">
      <div class="small-12 medium-4 large-2 column">
        <%= f.submit "Spremi sliku",
                     class: "button success expanded margin-top" %>
      </div>
    </div>
  </div>


