// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: http://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: http://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

//fontovi


//header

.top-links{display:none; background:none;}
.wrapper > header:nth-child(1){background:linear-gradient(180deg,#C1161C,#810F13);}
.top-bar{background:transparent;}
.grad-dbk-header{background: #EDEDED; padding: 10px 15px;}
.grad-dbk-header img{width: auto; height: 65px; max-width: 70%;}
h1.top-bar-title{padding:25px 15px;}
.top-bar-title a{color:#fff;}
.top-bar-title a:hover{color:#fff; text-decoration:none;}


//submenu
@media print, screen and (min-width: 40em){ .subnavigation {background: #0E3A55; padding-bottom: 0;}}

//footer

.footer{background:#0E3A55; color:#fff;}
.footer-logo img{width:100px;}
.footer *{color:#fff;}
.footer a:hover{color:#678A9F;}
.subfooter{background:#0E3A55;}
.subfooter *{color:#fff;}
.footer footer{background-image:asset-data-url("footer.png") no-repeat left;}
.footer footer{background-color:#0E3A55;}
.footer > footer:nth-child(1) > div:nth-child(1){padding-bottom:24px;background:#0E3A55;}
