// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: http://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: http://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

//fontovi

//header
.bg-wrapper {
  background: linear-gradient(180deg, #c1161c, #810f13);
}
@media only screen and (max-width: 320px) {
  h1.top-bar-title {
    font-size: 1.8rem;
  }
}
.top-links {
  background: none;
}
.wrapper > header:nth-child(1) {
  background: linear-gradient(180deg, #c1161c, #810f13);
}
.top-bar {
  background: transparent;
}
.grad-dbk-header {
  background: #ededed;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 89px;
}
.grad-dbk-header img {
  width: auto;
  height: 94px;
  max-width: 70%;
}
h1.top-bar-title {
  padding: 25px 15px;
  font-weight: 400;
}
.top-bar-title a {
  color: #fff;
}
.top-bar-title a:hover {
  color: #fff;
  text-decoration: none;
}
.login-bar {
  padding-top: 0px !important;
  padding-left: 0px !important;
  float: left;
}

//navigacija glavna
.dropdown.menu > li a:hover {
  text-decoration: none;
  opacity: 0.7;
}
.dropdown.menu > li a.is-active {
  color: #fff;
  border-bottom: 2px solid #fff;
  text-decoration: none;
}

//submenu
@media print, screen and (min-width: 40em) {
  .subnavigation {
    background: #0e3a55;
    padding-bottom: 0;
  }
}
@media print, screen and (min-width: 40em) {
  .subnavigation a {
    color: #fff;
    font-weight: 400;
  }
  .subnavigation a:hover {
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
  }
  .subnavigation a.is-active {
    color: #fff;
    border-bottom: 2px solid #fff;
    text-decoration: none;
  }
}

//highlight
div.jumbo.highlight {
  background-image: image-url("header-highlight.jpg");
  background-size: cover;
}
.naslovstranice {
  color: #fff;
  background: linear-gradient(180deg, #c1161c, #810f13);
  display: inline-block;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
@media print, screen and (min-width: 20em) {
  .naslovstranice {
    margin-top: 2em;
  }
}
@media print, screen and (min-width: 40em) {
  .naslovstranice {
    margin-top: 4em;
  }
}
@media print, screen and (min-width: 64em) {
  .naslovstranice {
    margin-top: 6em;
  }
}
.prijavise {
  margin-left: 10px;
  margin-right: 10px;
  display: inline;
}
.naslovstranicediv {
  text-align: center;
}
.prijavisebotun {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.lead {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2em;
  padding-bottom: 2em;
}

//svasta nesto

.see-all {
  display: none !important;
}

//footer

.footer {
  background: #0e3a55;
  color: #fff;
  padding-top: 0px;
}
.footer-logo img {
  width: 100px;
}
.footer * {
  color: #fff;
}
.footer a {
  text-decoration: none;
}
.footer a:hover {
  opacity: 0.7;
  text-decoration: none;
}
.subfooter {
  background: #0e3a55;
}
.subfooter * {
  color: #fff;
}
.footer footer {
  background-image: image-url("footer.png");
  background-position: left;
  background-repeat: no-repeat;
  padding-top: 30px;
}
.footer footer {
  background-color: #0e3a55;
}
.footer > footer:nth-child(1) > div:nth-child(1) {
  padding-bottom: 24px;
  background: #0e3a55;
}
.tekst-footer {
  font-size: 14px;
}
footer .title {
  border: none !important;
}
body > div.footer > footer > div:nth-child(1) {
  padding-left: 10px;
}

//temp

#feed_debates > div > div:nth-child(1) {
  display: none;
}

#debate_2 {
  display: none;
}

#edit_account > div > div.small-12.medium-7.column > h2:nth-child(5) {display:none !important;}
label[for="account_email_digest"] {display:none !important;}
label[for="account_email_on_comment"] {display:none !important;}
label[for="account_email_on_comment_reply"] {display:none !important;}
label[for="account_newsletter"] {display:none !important;}
label[for="account_email_on_direct_message"] {display:none !important;}
div.row.account div.float-right.text-right{display:none !important;}
#notifications{display:none !important;}
#new_user{display:block !important;}
div.auth-form.margin div.text-center{display:none !important;}
// div.auth-form.margin p{display:none !important;}

em.text-small {
  font-size: 14px;
}

div.container-username {
  margin-bottom: 2rem;
}


div.go_wrapper {
  width: 124px;
  display: inline;
  float: right;
}

@font-face {
  font-family: 'Roboto';
  src: font-url('roboto-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

a.go_register {

  height: 40px;
  width: 120px;
  font-family: 'Roboto';
  font-size: 0.875em;
  /* 14px */
  font-weight: 500;
  line-height: 42px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ca1720;
  border-radius: 21px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

a.go_register:hover {
  color: #fff;
  background-color: #2cad56;
}

a.go_register img {
  flex: 0;
  display: block;
  margin: 0 10px 0 6px;
  height: 30px;
}

a.go_logout {

  height: 40px;
  width: 120px;
  font-family: 'Roboto';
  font-size: 0.875em;
  /* 14px */
  font-weight: 500;
  line-height: 42px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #2cad56;
  border-radius: 21px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

a.go_logout:hover {
  color: #fff;
  background-color: #ca1720;
}

a.go_logout img {
  flex: 0;
  display: block;
  margin: 0 10px 0 6px;
  height: 30px;
}

#temporary-link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 63%;
  margin: 0 auto;
  background-color: #ecf0f1;
  padding: 2rem;
}

.text-warning {
  color: red;
  font-weight: bold;
}

.temporary-content {
  text-align: center;
}

.greska {
  border: 1px solid red;
  text-align: center;
  line-height: 1.5;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}
