<% if @user %>
    <h1>Dobrodošli, <%= @user.ime %> <%= @user.prezime %></h1>
    <p>Participativni procesi i budžetiranje suvremeni su demokratski alat putem kojeg građani svojim idejama, projektima, komentarima i svojim glasom aktivno sudjeluju u procesima upravljanja gradom i podupiru donošenje odluka o raspodjeli dijela javnih sredstava. Odluke se donose u izravnoj suradnji s građanima, uz prethodnu raspravu i razradu projekata. Ova digitalna usluga primjenjivat će se u našem Gradu u svrhu transparentnijeg upravljanja i učinkovitijeg odgovaranja na potrebe naše zajednice.
Participativno budžetiranje kao demokratski alat donosi brojne koristi za građane, ali i predstavnike vlasti te društvo općenito. Usluga doprinosi transparentnosti trošenja javnih sredstava, legitimitetu implementiranih projekata i izgradnji povjerenja građana u gradsku upravu. Putem participativnog budžetiranja, na razini gradskih kotareva i mjesnih odbora (okruzi), moguće je jasno identificirati probleme zajednice te zajednički odlučivati o prioritetima djelovanja. Želja nam je unaprijediti model upravljanja našim Gradom i dodatno potaknuti i poticati  konstruktivni dijalog među građanima našeg Grada</p>
    <%= link_to t("auth.confirm_btn"), nias_user_session_path(id: @user), 
    data: { turbolinks: false }, :method => :post, rel: "nofollow", class: "button" %>
<% else %>
    <h1>Pogreška tokom prijave!</h1>
    <p>Kako biste se prijavili, morate biti iz jednog Dubrovnika ili okolice:.</p>
    <p>Bosanka, Brsečine, Dubravica, Dubrovnik, Donje Obuljeno, Čajkovica, Ćajkovići, Gornje Obuljeno, Gromača, Kliševo, Knežica, Komolac, Koločep, Ljubac, Lopud, Mokošica, Mravinjac, Mrčevo, Nova Mokošica, Orašac, Osojnik, Petrovo Selo, Prijevor, Pobrežje,Rožat, Sudurad, Sustjepan, Šipanska Luka, Šumet, Trsteno, Zaton </p>
    <%= link_to t("auth.fail_btn"), nias_user_session_fail_path(@params), 
    data: { turbolinks: false }, :method => :post, rel: "nofollow", class: "button" %>
<% end %>
