<h1>Dobrodošli, <%= @user.ime %> <%= @user.prezime %></h1>

<%= link_to t("general.auth.confirm"), nias_authorize_path(resource: @user), 
data: { turbolinks: false }, :method => :post, rel: "nofollow", class: "button" %>

<p>Kako biste se prijavili, molimo potvrdite vaše podatke.</p>