  <%= render "shared/errors", resource: @district %>

  <div class="row">
      <div class="small-12 medium-6 column">
        <%= f.text_field :name, label: "Naziv" %>
      </div>
  </div>

  <div class="row">
      <div class="small-12 medium-6 column">
        <%= f.select :category, [['Gradski kotar', 0], ['Mjesni odbor', 1]] %>
      </div>
  </div>

  <div class="row">
    <div class="clear">
      <div class="small-12 medium-4 large-2 column">
        <%= f.submit "Spremi",
                     class: "button success expanded margin-top" %>
      </div>
    </div>
  </div>


